<h2>Transmitters</h2>

<%= for transmitter <- @transmitters do %>
    <h4><%= String.upcase(transmitter["doc"]["call"]) %></h4>

    <%= for {k, v} <- transmitter["doc"] do %>
        <code><%= k %>: <%= inspect v %></code><br>
    <% end %>
<% end %>

<h2>Add Transmitter</h2>

<%= form_for @conn, "/", [], fn f -> %>
  <label>
    Callsign: <%= text_input f, :call %>
  </label>

  <%= submit "Add" %>
<% end %>
